*{margin:0;padding:0;box-sizing:border-box;}
body{background:#f4efe7;font-family:poppins;color:#222;}
a{text-decoration:none;color:inherit}

.header{background:#111;color:#fff;padding:14px 0;border-bottom:3px solid #d6c5a0;}
.header .container{width:90%;margin:auto;display:flex;align-items:center;justify-content:space-between}
.logo{font-size:28px;font-weight:700}

#searchInput{
  width:300px;padding:10px;border-radius:6px;border:none;
  margin-left:20px;font-size:15px;text-align:center;
}

.nav ul{display:flex;gap:25px;list-style:none}
.nav ul li a{color:#fff;font-size:16px;font-weight:500}
.menu-toggle{display:none;font-size:26px;color:#fff;background:none;border:none}

.section-title{text-align:center;margin:40px 0;font-size:28px;font-weight:bold;}

.product-grid{
  display:grid;gap:22px;padding-bottom:60px;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
}

.product-card{
  background:#fff;padding:15px;border-radius:10px;border:1px solid #ddd;
  transition:.2s;cursor:pointer;text-align:center;
}
.product-card:hover{box-shadow:0 4px 18px rgba(0,0,0,.2);transform:translateY(-5px)}
.product-card img{width:100%;height:210px;border-radius:10px;object-fit:cover}
.product-card h3{margin:10px 0;font-size:17px;font-weight:600}
.price{color:#d0492c;font-size:19px;font-weight:bold;margin-bottom:8px}
.btn{
  background:#d0492c;color:white;padding:8px 16px;border:none;border-radius:6px;
  cursor:pointer;font-size:14px;margin-top:5px;
}
.btn:hover{background:#b3351b}

.footer{text-align:center;background:#111;color:#fff;padding:20px;margin-top:40px}
.msg{text-align:center;color:red;margin:18px 0;font-size:20px}


.footer{
  background:#111;
  color:#fff;
  padding:40px 20px 20px;
  font-family:poppins;
}
.footer-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  max-width:1000px;
  margin:auto;
  gap:30px;
}
.footer-logo h2{font-size:24px;color:#d0492c;margin-bottom:6px;}
.footer-links ul{list-style:none;padding:0;}
.footer-links ul li{margin:6px 0;}
.footer-links ul li a{color:#fff;text-decoration:none;}
.footer-links ul li a:hover{color:#d0492c;}
.footer-social a{color:#fff;text-decoration:none;margin-right:10px;}
.footer-social a:hover{color:#d0492c;}
.footer-bottom{text-align:center;margin-top:20px;font-size:14px;color:#aaa;}
